@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.userText {
    background-color: #F8F8F8;
    width: 30%;
    height: 40vh;
    border-radius: 30px;
    padding-left: 3%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: calc(16px + .5vw);
    }

    .text {
        height: 50%;
    }

    textarea {
        outline: 0;
        border: 1px solid orange;
        border-radius: 10px;
        width: 80%;
        height: 90%;
        font-size: calc(12px + .5vw);
        margin-top: 18px;
    }

    button {
        background-color: #FFA500;
        color: black;
        border: 1px solid white;
        width: 180px;
        height: 40px;
        border-radius: 10px;
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 45px;

        p {
            position: relative;
            left: 15%;
        }
    }

    .error {
        font-size: 14px;
        color: red;
        display: none;
    }

    .error-active {
        display: block;
    }
}

.notes {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;

    .written-note {
        background-color: #F8F8F8;
        font-size: 24px;
        width: 400px;
        border-radius: 12px;
        padding: 1% 5%;
        position: relative;
        display: flex;
        min-height: 50px;
        align-items: center;

        h6 {
            position: absolute;
            right: 2%;
            top: 0;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 815px) {
    .userText {
        width: 75%;

        .error {
            top: 35%;
        }
    }

    body {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .notes {
        width: 85%;

        .written-note {
            width: 80%;
        }
    }


}

@media screen and (max-width: 450px) {
    .userText {
        padding-top: 5%;

        h3 {
            font-size: calc(18px + .6vw);
        }

        textarea {
            width: 95%;
        }

    }
}